* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: var(--bgcolor);
}

html {
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
  --color--white: #fff;
  --bgcolor: #f9f4fb;
  --text--primary-color: #312d64;
  --text--secondary-color: #b52184;
  --bg-linear: linear-gradient(96deg, #343193 0%, #302c63 99.68%);
}

/* Header */
.astronaut img {
  width: 100%;
  display: block;

  margin-bottom: 1.7rem;
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  color: var(--text--secondary-color);
  font-size: 3.2rem;
  font-weight: 900;

  margin-bottom: 0.5rem;
}

.hero-text p {
  color: var(--text--primary-color);
  font-size: 2rem;
  font-weight: bold;
}

.button-down img {
  margin: 4.1rem auto 9.3rem;
}

/* Cards */

.container,
.col3 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background: var(--bg-linear);
  padding: 5.2rem 3.9rem;
}

.card {
  background-color: var(--color--white);
  border-radius: 2rem;
  padding: 2.65rem 2.65rem;
}

.card h2 {
  color: var(--text--secondary-color);
  font-size: 2.9rem;
  line-height: 3.7rem;
  font-weight: 900;

  margin: 3.3rem 0 2rem;
}

.card p {
  color: var(--text--primary-color);
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;
}

/* Animação card */

.card img {
  animation: luaAnimation 3000ms infinite linear 560ms;
}

@keyframes luaAnimation {
  to {
    transform: rotate(360deg);
  }
}


/* 3º Parte */
.col3 {
  background: var(--bgcolor);
}
.col3 h3 {
  color: var(--text--secondary-color);
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 4rem;

  margin-bottom: 4.2rem;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.input-wrapper input,
textarea {
  width: 34.8rem;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;

  border-radius: 1.6rem;
  border: 1.5px solid var(--text--primary-color);
  color: var(--text--primary-color);
  font-weight: 600;

  background-color: var(--bgcolor);
}

.input-wrapper input {
  padding-left: 4.8rem;
  align-items: center;
  justify-content: center;
}

.input-wrapper textarea {
  width: 100%;
  height: 9.8rem;
}

.input-wrapper input:focus {
  outline: 1px solid var(--bg-linear);
}

.input-wrapper textarea:focus {
  outline: 1px solid var(--bg-linear);
}

.input-wrapper 
input::placeholder,
textarea::placeholder {
  color: var(--text--primary-color);
}

#nome {
  background: url(./assets/iconPerson.svg) no-repeat scroll 1.2rem 0.9rem;
}

#email {
  background: url(./assets/iconSocial.svg) no-repeat scroll 1.2rem 0.9rem;
}

#btn-envio {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 15rem;
  height: 4.5rem;

  background: var(--bg-linear);
  color: #fff;

  border: none;
  border-radius: 1.6rem;

  margin-top: 2.4rem;
}

#stars {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 7.8rem;
  background: var(--bg-linear);
}

footer p {
  color: var(--color--white);
  font-size: 1.9rem;
  line-height: 2.4rem;
  text-align: center;

  padding: 1.6rem 1.6rem;
}

/* Media Queries */

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;

    gap: 6rem;
    justify-content: center;
  }

  .col3 {
    display: flex;

    gap: 9.2rem;
    width: 148rem;
    height: 61.2rem;
    margin-left: 10.9rem;
  }

  .input-wrapper {
    width: 56.2rem;
  }

  .col3 .input-wrapper input,
  textarea {
    width: 56.2rem;
  }
}


@media (min-width: 1440px) {
  #hero {
    display: flex;
    justify-content: space-between;
    padding: 0 2.9rem 10.4rem 10.8rem;
  }

  #hero .astronaut {
    order: 2;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    order: 1;
    margin-top: 25rem;
  }

  .hero-text p {
    font-size: 3.2rem;
    line-height: 2.3rem;
  }

  .hero-text h1 {
    font-size: 6rem;
    line-height: 7.4rem;

    margin-bottom: 0.8rem;
  }

  #hero .hero-text h1,
  p {
    margin-right: 2.4rem;
    margin-left: 10.8rem;
  }

  .button-down {
    margin-left: 10.8rem;
    padding-top: 17.8rem;
  }

  /* Button animation */

  #hero .hero-text a:hover {
   transform: scale(1.1);
  }

  /* cards */

  main {
    min-width: 144rem;
  }

  .container {
    display: flex;
    flex-direction: row;

    gap: 6rem;
    justify-content: center;
  }

  .card {
    width: 36.6rem;
  }

  .card h2,
  figcaption p {
    width: 32rem;
    margin: 3.2rem;
    margin-left: 0;
  }

  /* transição */

  .card img {
    animation: luaAnimation 1695ms infinite linear 560ms;
  }

  @keyframes luaAnimation {
    to {
      transform: rotate(360deg) translate(0px, 0px);
    }
  }

  .card img:hover {
    animation-play-state: paused;
  }

  figcaption p {
    width: 32.1rem;
    margin-top: 2.4rem;
  }

  /* Formulário */

  .col3 {
    display: flex;
    gap: 9.2rem;
    width: 144rem;
    height: 61.2rem;
    margin-left: 10.9rem;
  }

  .input-wrapper {
    width: 56.2rem;
  }

  .col3 .input-wrapper input {
    width: 56.2rem;
  }
}
